<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152494924252-56q6f70upc1qr9u0pke7fpd0el3nr0j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152494924252-56q6f70upc1qr9u0pke7fpd0el3nr0j7</string>
	<key>API_KEY</key>
	<string>AIzaSyDn_q-ZieoPUc9dBlz_SGoMGrznc8KADtU</string>
	<key>GCM_SENDER_ID</key>
	<string>152494924252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.outsystems.rd.FirebaseAnalyticsSampleApp</string>
	<key>PROJECT_ID</key>
	<string>mobileecosystem-b80d4</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileecosystem-b80d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152494924252:ios:aa35c61141baabb2feaf19</string>
</dict>
</plist>